.entity-list-container {
  .no-results-container {
    text-align: center;
    padding: 40px 0;

    .heading {
      margin-bottom: 40px;

      &:after {
        font-family: FontAwesome;
        content: '\f119';
        margin-left: 10px;
        font-size: 26px;
        position: relative;
        top: 4px;
      }
    }
  }
}