.button {
  margin: 10px 1px 0;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  background: $button-color;
  color: $button-text-color;

  &:hover {
    background: $button-hover-color;
  }

  &:active {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  }

  &:first-of-type {
    margin-left: 0;
  }

  &.cta {
    background: $button-cta-color;
    color: $button-cta-text-color;

    &:hover {
      background: $button-cta-hover-color;
    }
  }
}