.entity {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;

  .attribute {
    border-bottom: 1px dotted #CCC;
    padding: 10px 0;

    .name {
      position: relative;
      float: left;
      max-width: 300px;
      width: 49%;
      margin-right: 1%;

      .info {
        position: absolute;
        top: 16px;
        font-size: 12px;
        color: #666;
        display: block;
        height: 0;
        overflow: visible;
      }

      &.with-info {
        top: -6px;
      }
    }

    .value {
      float: left;
      width: 49%
    }

    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &.compact {
    padding: 10px;

    .button {
      padding: 5px 10px;
    }

    .attribute {
      padding: 5px;
    }
  }
}

.button.view-entity {
  &:before {
    font-family: FontAwesome;
    content: '\f002';
    margin-right: 10px;
  }
}

.button.edit-entity {
  &:before {
    font-family: FontAwesome;
    content: '\f040';
    margin-right: 10px;
  }
}

.button.create-entity-button {
  &:before {
    font-family: FontAwesome;
    content: '\f067';
    margin-right: 10px;
    top: 1px;
    position: relative;
  }
}

@import 'entity/list';
@import 'entity/create-form';
