.component-menu {
  width: 100%;
  background: $menu-color;
  font-size: 0;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  .menu-item {
    font-size: 16px;
    line-height: 50px;
    max-height: 50px;
    background: $menu-item-color;
    color: $menu-item-text-color;
    padding: 0px 30px;
    display: inline-block;
    border-right: 1px solid $menu-item-border-color;
    float: left;

    &:hover {
      background: $menu-item-hover-color;
    }

    &.right {
      float: right;
    }

    &.home {
      font-size: 0;

      &:after {
        content: '\f015';
        font-size: 20px;
        font-family: 'FontAwesome';
      }
    }
  }
}