.pagination {
  text-align: center;

  .previous:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: '\f0d9';
    position: relative;
  }

  .next:after {
    font-family: FontAwesome;
    margin-left: 10px;
    content: '\f0da';
    position: relative;
    top: 1px;
  }
}