.dashboard {
  background: #ffffff;
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }

  .page-container {
    padding: 20px;
  }

  .footer-container {
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.2);
    color: #888;

    a {
      color: #7b7ab3;
    }
  }
}

/** Colors **/

//Menu
$menu-color: #403F61;
$menu-item-color: #403F61;
$menu-item-hover-color: #5a5983;
$menu-item-text-color: #ffffff;
$menu-item-border-color: #5a5983;

//Button
$button-color: #403F61;
$button-hover-color: #5a5983;
$button-text-color: #ffffff;

//CTA Button
$button-cta-color: #3d975d;
$button-cta-hover-color: #43aa6a;
$button-cta-text-color: #ffffff;